<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="demo1">
                <div class="d1"><h1>logo</h1></div>
                <div class="d2"><h1>navigation</h1></div>
            </div>
            <div class="demo2"><h1>header</h1></div>
            <div class="demo3"><h1>intro</h1></div>
            <div class="demo4">
                <div class="s1"><h1>div 1

                </h1></div>
                <div class="s2"><h1>div 2
                </h1></div>
                <div class="s3"><h1>div 3</h1></div>

            </div>
            <div class="demo5"><h1>footer</h1></div>
        </div>
    </div>
</body>
</html>